* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.bg_container{
    background: url("../images/section_1_bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.wrapper{
    height: 100vh;
    min-width: 1200px;
}

.header {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_container{
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;
}

.logo_image{
    position: absolute;
}

#logo_H{
    position: relative;
    color: white;
    width: 31px;
    height: 31px;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    left: 12px;  
}

.logo_text{
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    position: relative;
    left: 27px;
}

.logo_ham {
    color: #18CFAB;
    font-weight: 700;
}

.menu {
    display: flex;
    column-gap: 21px;
}

.nav_link {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

}

.nav_link:hover{
    color: #18CFAB;
}

.search_icon{
    fill: rgba(255, 255, 255, 0.6);
    width: 21px;
    height: 20px;
}
.search_icon:hover{
    fill: #18CFAB;
}

.section_first {
    height: 897px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    margin: 0 auto;
    max-width: 1160px;
    text-align: center;

}

.reg_title{
    font-weight: 700;
    font-size: 78px;
    color: white;
    margin-top: 22px;
}

.reg_subtitle{
    color: white;
    font-weight: 700;
    font-size: 35px;

}

.wordpress {
    color: #18CFAB;
}

.reg_subtitle_s{
    color: #D4D4D4;
    font-weight: 400;
    font-size: 34px;
    margin-top: 22px
}

.reg_buttons {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    width: 169px;
    height: 63px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 129px;
    border-top: 5px solid white;

}

.explore_btn{
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    margin-right: 26px;

}

.purchase_btn{
    background-color: #00CBF6;
    width: 169px;
    height: 63px;
}

.section_second{
    margin-top: 8px;
    background-color: white;
}

.cards_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(377px, auto);
    background-color: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card_items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.items_color_b{
    background-color: #1C2A33;
}
.items_color_g{
    background-color: #18CFAB;
}

.card_info{
    margin-top: 48px;
}
/* Our Services Start */
.section_second{
    background-color: white;
}
.services_container{
    margin: 0 auto;
    max-width: 1160px;
    text-align: center;
    color: #4E4E4E;
}

.s_title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 83px;
}

.green_line{
    width: 93px;
    height: 8px;
    margin-top: 26px;
}

.centered_content_services{
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.tabs {
    display: flex;

}

.tabs-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 73px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.tabs-title:hover{
    border: 1.5px solid #18CFAB;

}

.tabs-title.active {
    background-color: #18CFAB ;
    color: white;
    position: relative;
}

.tabs-title.active::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #18CFAB ;
    position: absolute;
    top: 56px;
    rotate: 45deg;
}

.tab-content{
    display: flex;
    margin-top: 23px;
    text-align: start;
    column-gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-left: 4px;
}
.tabs-content{
    margin-bottom: 91px;
}

.tab_img{
    width: 192px;
    height: 139px;
}

.hidden{
    display: none;
}
/* Our Services End */

.section_third{
    height: 476px;
    background-image: url('../images/section_3_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;

}

.purchase_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase_subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
}

.s3_btn{
    margin-top: 66px;
}

/* Amazing Work Start */
.section_fourth{
    background-color: #E9EDEF;;
   
}

.w_title{
    padding-top: 96px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.works_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 99px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.category_item{
    position: relative;
    width: 285px;
    height: 211px;
    cursor: pointer;
}

.category_item img{
    width: 100%;
    height: 100%;
    display: block;
}

.category {
    display: flex;
    margin-top: 69px;
    margin-bottom: 71px;
}

.category_btn{
    display: flex;
    align-items: center;
    padding: 28px;
    height: 73px;
    background: #E9EDEF;
    border: 1px solid #DADADA;
    cursor: pointer;

}

.category_btn:hover{
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
    
}

.category_item.load{
    display: none !important;
}

.load_btn {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    color: white;  
    margin-top: -27px;
    margin-bottom: 99px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    text-transform: uppercase;
}

.icon_hover  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;

}

.overlay {
    border-top: 2px solid #18CFAB;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    background: #E9EDEF;

}

.category_item:hover .overlayFade {
    opacity: 1;
}

.icon{
    width: 41px !important;
    height: 40px !important;
}

.link_hover {
    display: inline-block;
}
.link_hover:hover img {
    opacity: 0;
}
.link_hover:hover{
    background-image: url('../images/icon_hover.png');
    background-size: cover;
}

.icon_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    margin-bottom: 0px;
    margin-top: 24px;
    text-align: center;
}

.icon_subtitle{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    margin-top: 0;
    text-align: center;
}


/* Amazing Work End */

/* Breaking news Start */
.section_fifth {
    background-color: white;
}

.news_img{
    width: 263px;
    height: 208px;
}

.news_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 44px;
    margin-top: 68px;
    margin-bottom: 129px;
    text-align: left;
}

.card_link{
    display: flex;
    flex-direction: column;
    position: relative;
}

.news_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 20px;
}

.news_subtitle{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    margin-left: 20px;
}

.by_admin {
    border-right: 1px solid #777777;
    padding-right: 10px;
}
.comment {
    padding-left: 5px;
}
.hover_date{
    color: white;
    width: 70px;
    height: 68px;
    position: absolute;
    background-color: #18CFAB;
    right: 0px;
    transition: all 0.3s ease;
    opacity: 0;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding: 9px;
}

.card_link:hover .hover_date {
    opacity: 1;
}

.card_link:hover .news_title{
    color: #18CFAB;
}

/* Breaking news End */

/* About Start */

.section_sixth {
    background-image: url('../images/section_6_bg.png');
    height: 853px;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes{
    margin-top: 66px;
    margin-bottom: 36px;
}

.slider_img{
    width: 143px;
    height: 142px;
    border-radius: 70px;
    border: 10px solid rgb(31, 218, 181, 0.2);
}

.slider_info{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.slider_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 37px;
}

.slider_subtitle{
    font-weight: 300;
    font-size: 12px;
    color: #BBBBBB;
    margin-bottom: 50px;
}

.card_slider{
    display: none;
    margin-bottom: 57px;
}

.card_slider.active{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.carousel_img{
    width: 60px;
    height: 59px;
    border-radius: 70px;
    border: 5px solid rgb(31, 218, 181, 0.2);
    cursor: pointer;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 38px;
}

.carousel_items{
    display: flex;
    align-items: center;
    column-gap: 34px;
}
.carousel_btn{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}
.carousel_btn:hover{
    background-color: #18CFAB;
}
.carousel_img.active_img{
    transform: translateY(-13px);
    transition: all 0.3s ease;
}

@keyframes fade {

    from {
        transform: translateY(-500px);
        opacity: 0.2;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
  }

/* About End */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 121px;
    background-color: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}